* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(245, 241, 227);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0.3rem;
}

header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, rgb(101, 101, 235), rgb(2, 2, 199));
    color:antiquewhite;
    padding: 0.8% 0 0.8% 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

h2 {
  padding-top: 1rem;
}

li {
    list-style-type: none;
}

.form-label {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0 5px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 2%;
    margin: 5px 0;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 3% 0 3% 0;
    border: none;
    outline: none;
    background-color: rgb(101, 101, 235);
    color:antiquewhite;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  }

  .btn:hover {
    background-color: rgb(2, 2, 199);
    color:antiquewhite;
    text-shadow: 2px 2px rgba(0, 0, 0, 0);
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
  }

  .city-history {
    text-align: center;
    font-size: 1.3rem;
    text-decoration:none;
    outline: none;
    background-color: lightgrey;
    
  }

  .cityH {
    padding: 2%;
  }

  .bordertop {
    border-top: lightgray solid 2px;
  }

  .fiveday {
    background-color: rgb(45, 45, 128);
    color: antiquewhite;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  .uvLow {
    background-color: lightgreen;
    padding: 2px 8px 2px 2px;
    border-radius: 0.3rem;
  }

  .uvModerate{
    background-color: yellow;
    padding: 2px 8px 2px 2px;
    border-radius: 0.3rem;
  }

  .uvHighRisk {
    background-color: tomato;
    padding: 2px 8px 2px 2px;
    border-radius: 0.3rem;
  }